// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.

@main-color: #ECF0F1;
@second-color: #6C7A89;
@dark-color: black;


body,
html {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* /////////////////////////////// GENERAL /////////////////////////////// */
.container-fluid {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 5.5rem;
  text-transform: uppercase;
  margin: 0 0 1rem;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 0 0.7rem;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0.5rem 0 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 300;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

/* /////////////////////////////// NAVBAR /////////////////////////////// */
.navbar.navbar-default {
  border: none;
  box-shadow: 1px 0px 3px black;
  margin: 0;
}

.navbar-default .container-fluid {
  background-color: @dark-color;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle,
.navbar-default .active .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  border: solid 0.05rem white;
  background-color: @dark-color;
}

.navbar-header {
  padding: 0 0 0 2rem;
}

.navbar-collapse {
  padding: 0 2rem 0 0;
}

.navbar-header .navbar-brand i {
  color: white;
  font-size: 1.2em;
}

#navbar ul li a {
  color: white;
}

#navbar ul .active a,
#navbar ul li a:hover,
#navbar ul li a:focus {
  color: @dark-color;
  background: white;
}

/* /////////////////////////////// HOMEPAGE /////////////////////////////// */
.baseline,
.products,
.suggest-register {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baseline {
  background: url("../img/pale_4.jpg") no-repeat center center;
  background-size: cover;
}

.suggest-register {
  background: url("../img/man-pale.jpg") no-repeat center center;
  background-size: cover;
}

.products {
  background: url("../img/eyes.jpg") fixed no-repeat center center;
}

.products-title {
  margin-bottom: 6rem;
}

.suggest-register button {
  margin-top: 2rem;
  color: @dark-color;
  background-color: transparent;
  border: none;
  border-bottom: solid 0.2rem @dark-color;
  border-radius: 0;
  box-shadow: none;
}

.suggest-register button:active,
.suggest-register button:focus,
.suggest-register button:hover {
  color: @second-color;
  background-color: transparent;
  border-bottom: solid 0.2rem @second-color;
}

footer {
  background-color: white;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}

.legal p {
  font-size: 0.8rem;
  color: @dark-color;
  margin-top: 0.5rem;
}

.social i {
  font-size: 2rem;
  color: black;
  margin: 0 0.4rem;
}

/* /////////////////////////////// REGISTER - FORMULAIRE /////////////////////////////// */
.register-page {
  margin: 5rem auto;
}

.form-content {
  text-align: left;
}

form h2 {
  text-align: center;
  margin: 0 0 2rem;
}

form .body {
  margin: 0 0 2rem;
}

form .soul {
  margin: 3rem 0 2rem;
}

hr {
  height: 1px;
  background-color: @second-color;
  margin: 2rem 0;
}

.register-btn {
  margin-top: 2rem;
  color: white;
  background-color: @dark-color;
  border: solid 0.2rem @dark-color;
  border-radius: 0;
  box-shadow: none;
}

.register-btn:active,
.register-btn:focus,
.register-btn:hover {
  background-color: @second-color;
  border: solid 0.2rem @second-color;
}

.custom-btn {
  margin-top: 2rem;
  color: @dark-color;
  background-color: white;
  border: none;
  border-bottom: solid 0.2rem @dark-color;
  border-radius: 0;
  box-shadow: none;
}

.custom-btn:active,
.custom-btn:focus,
.custom-btn:hover {
  color: @second-color;
  background-color: white;
  border-bottom: solid 0.2rem @second-color;
}

.register-btn h3 {
  margin: 0;
}

.text-muted {
  text-align: center;
  margin-top: 3rem;
}

/* /////////////////////////////// LOGIN - FORMULAIRE /////////////////////////////// */
.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.login-content h2 {
  text-align: center;
}








/* /////////////////////////////// PROFILE - MY PROFILE /////////////////////////////// */

.my-profil {
  margin: 3rem 0 0;
}

.my-profil img {
  margin: 0 0 6rem;
  filter: grayscale(1);
}

.my-profil {
  text-align: left;
}

.my-profil h4 {
  margin-bottom: 1.5rem;
}

.change-btn {
  margin: 0;
  padding: 0.2rem 0.4rem;
  color: @dark-color;
  background-color: white;
  border: none;
  box-shadow: none;
}

.change-btn:active,
.change-btn:focus,
.change-btn:hover {
  color: @second-color;
  background-color: white;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 5px @second-color;
}


/* /////////////////////////////// PROFILE - PHOTOS ROBOTS /////////////////////////////// */
.perso .list-perso {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.perso .list-perso li {
  float:left;
  background: @second-color;
  height: 100vh;
  box-shadow: 0 0 100px rgba(0,0,0,0.8) inset;
  position: relative;
  cursor: pointer;
  background-size: cover !important;
  transition: 0.7s all ease-in-out;
  -webkit-transition: 0.7s all ease-in-out;
}

.perso .list-perso li p {
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  margin:auto;
  height: 80px;
  line-height: 90px;
  width: 150px;
  text-transform:uppercase;
  text-align:center;
  background: rgba(0,0,0,0.8);
  color: white;
}

.perso .list-perso li p:before {
  content:"";
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  height: 5px;
  width: 100%;
  background: white;
  opacity: 1;
}

.modal-content {
  border-radius: 0;
}

.modal-robot {
  text-align: left;
}

.modal-robot h2 {
  margin: 2rem 0;
}

.modal-robot p {
  margin: 0 0 2rem;
  font-size: 0.9rem;
  hyphens: auto;
}

.modal-robot ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-robot ul li {
  margin: 0 0 0.2rem;
}

.close {
  margin: 1rem 1rem 0 0.3rem;
  font-size: 1.5rem;
}

.robot-like,
.robot-buy {
  margin: 2rem 0 0;
  float: right;
  color: white;
  background-color: @dark-color;
  border: solid 0.2rem @dark-color;
  border-radius: 0;
  box-shadow: none;
}

.robot-like:active,
.robot-like:focus,
.robot-like:hover,
.robot-buy:active,
.robot-buy:focus,
.robot-buy:hover {
  color: white;
  background-color: @second-color;
  border: solid 0.2rem @second-color;
}

.robot-buy {
  margin-right: 0.5rem;
}

// CHAT ROBOT

#open-chat h2 {
  margin: 2rem 0;
}

#open-chat h4 {
  margin: 0 0 1.6rem;
}

.enter-text {
  margin: 0 0 1.6rem;
}

.enter-text button {
  color: white;
  text-shadow: none;
  background-color: @dark-color;
  border: solid 0.2rem @dark-color;
  border-radius: 0;
  box-shadow: none;
}

.enter-text button:active,
.enter-text button:focus,
.enter-text button:hover {
  color: white;
  background-color: @second-color;
  border: solid 0.2rem @second-color;
}

.user,
.ryo {
  text-align: left;
}

.ryo {
  background-color: @main-color;
}
