<div class="container-fluid">

  <section class="baseline">
    <div class="row">
      <div class="col-xs-12">
        <h1>Rencontrer</h1>
      </div>
      <div class="col-md-offset-3 col-md-6 col-xs-12">
        <h2>votre ami</h2>
        <h2>votre âme-sœur</h2>
        <h2>votre amant</h2>
        <h2>votre hu-bot</h2>
      </div>
    </div>
  </section>

  <section class="products">
    <div class="row products-title">
      <div class="col-md-offset-2 col-md-8 col-xs-12">
        <h1>hu-bot</h1>
      </div>
      <div class="col-xs-12">
        <h3>L'intelligence artificielle par Android<sup>®</sup></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-md-4 col-xs-12">
          <h2>Deus</h2>
          <h4>L'éclat et le charme de l'Olympe.</h4>
        </div>
        <div class="col-md-4 col-xs-12">
          <h2>Sidereal</h2>
          <h4>Une perfection presque intouchable.</h4>
        </div>
        <div class="col-md-4 col-xs-12">
          <h2>Beauty</h2>
          <h4>L'élégance de la simplicité.</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="suggest-register">
    <div class="row">
      <div class="col-xs-12">
        <h1>Rencontrez<br />votre hu-bot</h1>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-primary btn-lg" type="button" name="button">
          <h2>Inscrivez-vous</h2>
        </button>
      </div>
    </div>
  </section>

  <footer>
    <div class="row">
      <div class="col-xs-12 footer-content">
        <div class="col-xs-6 legal">
          <p>Copyright © 2017 Android. Tous droits réservés.<br />
          Conception : Team Atomic.
        </p>
        </div>
        <div class="col-xs-6 social">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          <i class="fa fa-google-plus-square" aria-hidden="true"></i>
          <i class="fa fa-youtube-square" aria-hidden="true"></i>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </footer>

</div>
