<div class="row register-page">
    <div class="col-md-6 col-xs-12 form-content">

        <form class="form" name="registerForm" novalidate ng-submit="register()">
            <h1>Inscription</h1>
            <div ng-repeat="error in errors">{{error.error}}</div>

            <div class="form-group">
                <label>Nom</label>
                <input id="nom" type="text" class="form-control" required placeholder="Votre nom">
            </div>
            <div class="form-group">
                <label>Prénom</label>
                <input id="prénom" type="text" class="form-control" required placeholder="Votre prénom">
            </div>
            <div class="form-group">
                <label>Adresse e-mail</label>
                <input id="email" type="email" class="form-control" ng-model="user.email" required placeholder="Votre adresse e-mail">
            </div>
            <div class="form-group">
                <label>Mot de passe</label>
                <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Définissez un mot de passe">
            </div>

            <p>Merci de compléter les informations suivantes :</p>

            <div class="form-group">
                <p>Etes-vous :</p>
                <select class="form-control">
                    <option>Un homme</option>
                    <option>Une femme</option>
                    <option>Neutre</option>
            </select>
            </div>

            <div class="form-group">
                <p>Etes-vous :</p>
                <select class="form-control">
                    <option>Un Humain</option>
                    <option>Un Robot</option>
                    <option>Un cyborg</option>
            </select>
            </div>

            <div class="form-group">
                <p>Dans la vie, êtes-vous :</p>
                <select class="form-control">
                    <option>Un Aventurier</option>
                    <option>Un Romantique</option>
                    <option>Un Séducteur</option>
            </select>
            </div>

            <div class="form-group">
                <p>Actuellement, vous recherchez :</p>
                <select class="form-control">
                    <option>Un Homme</option>
                    <option>Un femme</option>
                    <option>Neutre</option>
            </select>
            </div>

            <div class="form-group">
                <p>Quel modèle de Hu-Bot recherchez-vous :</p>
                <select class="form-control">
                    <option>Le modèle Sidereal</option>
                    <option>Le modèle Deus</option>
                    <option>Le modèle Beauty</option>
                    <option>Le modèle Custom</option>
            </select>
            </div>

            <div class="form-group">
                <p>Quelle couleur des yeux pour votre Hu-Bot :</p>
                <select class="form-control">
                    <option>Violet</option>
                    <option>Bleue</option>
                    <option>Vert</option>
                    <option>Noir</option>
            </select>
            </div>

            <div class="form-group">
                <p>Quelle couleur des cheveux pour votre Hu-Bot :</p>
                <select class="form-control">
                    <option>Noir</option>
                    <option>Blond</option>
                    <option>Brun</option>
                    <option>Châtain</option>
            </select>
            </div>

            <div class="form-group">
                <p>Quel type de caractère cherchez-vous pour votre Hu-Bot :</p>
                <select class="form-control">
                    <option>Aventurier</option>
                    <option>Romantique</option>
                    <option>Séducteur</option>
            </select>
            </div>

            <div class="form-group">
                <p>Quelle qualité cherchez-vous pour votre Hu-Bot :</p>
                <select class="form-control">
                    <option>Mystérieux</option>
                    <option>Rêveur</option>
                    <option>Indépendant</option>
                    <option>Joueur</option>
                    <option>Extraverti</option>
            </select>
            </div>

            <div class="form-group">
                <p>Quel défaut cherchez-vous pour votre Hu-Bot :</p>
                <select class="form-control">
                    <option>Silencieux</option>
                    <option>Impulsif</option>
                    <option>Jaloux</option>
                    <option>Bavard</option>
                    <option>Introverti</option>
            </select>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Je m'inscris</button>
            <small class="form-text text-muted">Nous ne transmettrons jamais vos informations personnelles à des tiers ou des robots.</small>
        </form>

    </div>
</div>
