<div class="row register-page">
  <div class="col-md-offset-3 col-md-6 col-xs-12 form-content">

    <form class="form" name="registerForm" novalidate ng-submit="register()">
      <h2>Inscription</h2>
      <div ng-repeat="error in errors">{{error.error}}</div>

      <div class="form-group">
        <label>Nom</label>
        <input id="nom" type="text" class="form-control" ng-model="user.firstname" required placeholder="Votre nom">
      </div>
      <div class="form-group">
        <label>Prénom</label>
        <input id="prénom" type="text" class="form-control" ng-model="user.lastname" required placeholder="Votre prénom">
      </div>
      <div class="form-group">
        <label>Photographie</label>
        <input type="file" class="form-control-file" ng-model="user.me.photo" aria-describedby="fileHelp">
        <small id="fileHelp" class="form-text text-muted">Choisissez votre plus belle photo.</small>
      </div>
      <div class="form-group">
        <label>Adresse e-mail</label>
        <input id="email" type="email" class="form-control" ng-model="user.email" required placeholder="Votre adresse e-mail">
      </div>
      <div class="form-group">
        <label>Mot de passe</label>
        <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Définissez un mot de passe">
      </div>

      <hr />

      <h2>Vous</h2>

      <div class="form-group">
        <label>Quel est votre genre ?</label>
        <select class="form-control" ng-model="user.me.gender">
          <option>Homme</option>
          <option>Femme</option>
          <option>Neutre</option>
        </select>
      </div>

      <div class="form-group">
        <label>Je suis un :</label>
        <select class="form-control" ng-model="user.me.species">
          <option>Humain</option>
          <option>Robot</option>
          <option>Cyborg</option>
        </select>
      </div>

      <div class="form-group">
        <label>Vous êtes plutôt :</label>
        <select class="form-control" ng-model="user.me.personality">
          <option>Aventurier</option>
          <option>Romantique</option>
          <option>Séducteur</option>
        </select>
      </div>

      <hr />

      <h2>Votre hu-bot</h2>

      <h3 class="body">Corps…</h3>

      <div class="form-group">
        <label>Actuellement, qui recherchez-vous ?</label>
        <select class="form-control" ng-model="user.searching.gender">
          <option>Homme</option>
          <option>Femme</option>
          <option>Neutre</option>
        </select>
      </div>

      <div class="form-group">
        <label>Quel sera le modèle de votre hu-bot ?</label>
        <select class="form-control" ng-model="user.searching.product">
          <option>Sidereal</option>
          <option>Deus</option>
          <option>Beauty</option>
        </select>
      </div>

      <div class="form-group">
        <label>Quelle est la couleur de ses yeux ?</label>
        <select class="form-control" ng-model="user.searching.eyes">
          <option>Violet</option>
          <option>Bleu</option>
          <option>Vert</option>
          <option>Noir</option>
        </select>
      </div>

      <div class="form-group">
        <label>Quelle est la couleur de ses cheveux ?</label>
        <select class="form-control" ng-model="user.searching.hair">
          <option>Noir</option>
          <option>Blond</option>
          <option>Brun</option>
          <option>Châtain</option>
        </select>
      </div>

      <h3 class="soul">…& âme</h3>

      <div class="form-group">
        <label>Quel est son caractère ?</label>
        <select class="form-control" ng-model="user.searching.personality">
          <option>Aventurier</option>
          <option>Romantique</option>
          <option>Séducteur</option>
        </select>
      </div>

      <div class="form-group">
        <label>Quelle est sa principale qualité ?</label>
        <select class="form-control" ng-model="user.searching.quality">
          <option>Mystérieux</option>
          <option>Rêveur</option>
          <option>Indépendant</option>
          <option>Joueur</option>
          <option>Extraverti</option>
        </select>
      </div>

      <div class="form-group">
        <label>Quel est son principal défaut ?</label>
        <select class="form-control" ng-model="user.searching.fault">
          <option>Silencieux</option>
          <option>Impulsif</option>
          <option>Jaloux</option>
          <option>Bavard</option>
          <option>Introverti</option>
        </select>
      </div>

      <div class="form-group">
        <label>À quelle valeur s'élève votre désir ?</label>
        <select class="form-control" ng-model="user.searching.price">
          <option>Entre 3 000 € et 4 000 €</option>
          <option>Entre 4 000 € et 5 000 €</option>
          <option>Entre 5 000 € et 7 000 €</option>
        </select>
      </div>
    </form>

    <button type="" class="col-md-4 col-xs-12 btn btn-primary btn-lg custom-btn"><h4>Customize</h4></button>
    <button type="submit" class="col-md-offset-5 col-md-3 col-xs-12 btn btn-primary btn-lg register-btn"><h4>Valider</h4></button>
    <div class="row">
      <small class="col-xs-12 form-text text-muted">Nous ne transmettrons jamais vos informations personnelles à des tiers ou des robots.</small>
    </div>

  </div>
</div>
