<section class="my-profil">
  <div class="col-xs-12">
    <div class="col-md-offset-2 col-md-2 col-xs-12">
      <img class="img-responsive img-circle" src="../../img/lya.jpg" alt="{{ user.firstname }}">
    </div>
    <div class="col-md-offset-1 col-md-5 col-xs-12">
      <h2>{{ user.lastname }} {{ user.firstname }}</h2>
      <h4>{{ user.email }}</h4>
      <h5>
        Je suis une {{ (user.me.gender).toLowerCase() }} {{ (user.me.species).toLowerCase() }}e aventurière.
        <button class="btn btn-primary btn-lg change-btn" type="button" name="button"><span class="glyphicon glyphicon-pencil"></span></button>
      </h5>
      <hr />
      <h5>
        Je recherche un {{ (user.searching.personality).toLowerCase() }} aux yeux {{ (user.searching.eyes).toLowerCase() }}s, {{ (user.searching.quality).toLowerCase() }} & {{ (user.searching.fault).toLowerCase() }}.
        <button class="btn btn-primary btn-lg change-btn" type="button" name="button"><span class="glyphicon glyphicon-pencil"></span></button>
      </h5>
    </div>
  </div>
</section>

<section class="perso" ng-repeat="robot in robotList | limitTo : 4">
  <ul class="list-perso">
    <li class="col-md-3 col-xs-12" data-toggle="modal" data-target="#{{ robot.name }}" style="background: url('../../img/{{ robot.name }}.jpg') no-repeat center center;">
      <p>{{ robot.name }}</p>
    </li>
  </ul>
  <div id="{{ robot.name }}" class="modal fade robot-content" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="row modal-robot">
          <div class="col-md-6 col-xs-12">
            <img class="img-responsive robot-img" src="../../img/{{ robot.name }}.jpg" alt="{{ robot.name }}">
          </div>
          <div class="col-md-6 col-xs-12 robot-text">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="col-md-11 col-xs-12 text-wrap">
              <h2>{{ robot.name }}</h2>
              <p>{{ robot.description }}</p>
              <ul>
                <li><strong>Genre :</strong> {{ robot.gender }}</li>
                <li><strong>Modèle :</strong> {{ robot.product }}</li>
                <li><strong>Yeux :</strong> {{ robot.eyes }}</li>
                <li><strong>Cheveux :</strong> {{ robot.hair }}</li>
                <li><strong>Caractère :</strong> {{ robot.personality }}</li>
                <li><strong>Autonomie :</strong> {{ robot.autonomy }}</li>
                <li><strong>Taille :</strong> {{ robot.height }}</li>
                <li><strong>Poids :</strong> {{ robot.weight }}</li>
                <li><strong>Technologie :</strong> {{ robot.technology }}</li>
                <li><strong>Tarif :</strong> {{ robot.priceSpe }}</li>
              </ul>
              <button class="btn btn-default btn-lg robot-like" type="" name="button" data-toggle="modal" ng-click="goChat()"><i class="fa fa-heart" aria-hidden="true"></i></button>
              <button class="btn btn-default btn-lg robot-buy" type="" name="button" data-toggle="modal" ng-click="goBuy()"><span class="glyphicon glyphicon-shopping-cart"></span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="open-chat" class="modal fade robot-content-chat" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h2>Espace de discussion</h2>
          <h4>Vous l'avez désiré & choisi, discutez avec votre hu-bot.</h4>
          <form class="col-md-offset-2 col-md-8 col-xs-12 form-group">
            <input class="form-control text" ng-model="query"/>
            <button class="btn btn-default" ng-click="addChat()">Valider</button>
          </form>
          <ul class="col-md-offset-2 col-md-8 col-xs-12 list-group">
            <li class="list-group-item" ng-repeat="chat in chats">
              <strong>{{ user.lastname }} :</strong> {{ chat.value }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="open-buy" class="modal fade robot-content-buy" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Retrouvez votre hu-bot</h2>
          <!--<div ng-message="required">Champ requis</div>
          <div ng-message="minlength">Valeur trop courte</div>
          <div ng-messages="maxlength">Valeur trop longue</div>
          <div ng-message="email">E-mail non valide</div>
          <div ng-message="number">Caractères alphabétiques non autorisés</div
          >-->
    <form name="myForm" ng-submit="foo()" novalidate>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <label>Prénom : </label>
      <input name="prenom" type="text" required ng-minlength="2" ng-maxlength="20" />
      <div ng-messages="myForm.prenom.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>Nom : </label>
      <input name="nom" type="text" ng-maxlength="30" />
      <div ng-messages="myForm.nom.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>E-mail : </label>
      <input name="mail" type="email" required />
      <div ng-messages="myForm.mail.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>Adresse de livraison : </label>
      <input name="adresse" type="text" required ng-minlength="2" ng-maxlength="50" />
      <div ng-messages="myForm.mail.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>Code postal : </label>
      <input name="code postal" type="number" required />
      <div ng-messages="myForm.age.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>Téléphone : </label>
      <input name="telephone" type="number" required />
      <div ng-messages="myForm.age.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>Nom carte bancaire : </label>
      <input name="carte bancaire" type="text" required ng-minlength="2" ng-maxlength="50" />
      <div ng-messages="myForm.mail.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>N° de carte bancaire (16 chiffres) : </label>
      <input name="numero cb" type="number" required />
      <div ng-messages="myForm.age.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>Cryptogramme (3 derniers chiffres au dos de la carte) : </label>
      <input name="cryptogramme" type="number" required />
      <div ng-messages="myForm.age.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <label>Date de validité : </label>
      <input name="date validité" type="number" required />
      <div ng-messages="myForm.age.$error" ng-messages-include="erreurs.html" ng-if="myForm.$submitted"></div>

      <div class="container">
          <div class="row">
              <div class='col-sm-6'>
                <p>Date de livraison</p>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker1'>
                          <input type='text' class="form-control" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker1').datetimepicker();
                  });
              </script>
          </div>
      </div>

      <input type="submit" value="Valider" />
    </form>

        </div>
      </div>
    </div>
  </div>
</section>
