
<!-- CHARACTER SELECTION -->
<section class="perso">
  <ul>
    <li><p>Alix<span></span></p></li>
    <li><p>Calia<span></span></p></li>
    <li><p>Ryo<span></span></p></li>
    <li><p>Anto<span></span></p></li>
    <li><p>Liar<span></span></p></li>
  </ul>
</section>

<!-- PAGE CONTENT, Order is important, nth-of-type is used -->

<article class="alix">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Alix</h2>
    <p>Autonome 48h grâce à sa batterie Althium, il ne pèse que 75kg pour 1,85m. Avec son système d'exploitation NaoAndro et ses capteurs d'interactions miniaturisés, il sera libre de ses mouvements pour vous satisfaire.</p>
    <ul>
      <li>Genre : Neutre</li>
      <li>Modèle : Beauty</li>
      <li>Yeux : Bleu</li>
      <li>Cheveux : Brun</li>
      <li>Caractère : Romantique</li>
      <li>Autonomie : 48 heures</li>
      <li>Taille : 1,85 m</li>
      <li>Poids : 75 kg</li>
      <li>Technologie : NaoAndro</li>
      <li>Tarif : 3 700 €</li>
    </ul>
  </div>
</article>
<article class="calia">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Calia</h2>
    <p>Equipée de capteurs de déplacement et gyroscopique dernière génération, Calia a tout d'une sportive qui saura vous suivre partout. 60kg pour 1,75m, elle sera être autonome 48h.</p>
    <ul>
      <li>Genre : Femme</li>
      <li>Modèle : Beauty</li>
      <li>Yeux : Noir</li>
      <li>Cheveux : Noir</li>
      <li>Caractère : Séducteur</li>
      <li>Autonomie : 48 heures</li>
      <li>Taille : 1,75 m</li>
      <li>Poids : 60 kg</li>
      <li>Technologie : NaoAndro</li>
      <li>Tarif : 3 700 €</li>
    </ul>
  </div>
</article>
<article class="ryo">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Ryo</h2>
    <p>Issu de la génération Aldebaraan, ce nouveau bijou hightech conviendra parfaitement à vos envies du haut de ses 1,90m pour 80kg de métalium équipé du dernier Ultrananoprocesseur Andreius. Son autonomie dépasse les 60 heures. Sa force à bout de bras est de 90kg.</p>
    <ul>
      <li>Genre : Homme</li>
      <li>Modèle : Sidereal</li>
      <li>Yeux : Noir</li>
      <li>Cheveux : Noir</li>
      <li>Caractère : Aventurier</li>
      <li>Autonomie : 60 heures</li>
      <li>Taille : 1,90 m</li>
      <li>Poids : 80 kg</li>
      <li>Technologie : Andrius</li>
      <li>Tarif : 6 040 €</li>
    </ul>
  </div>
</article>
<article class="anto">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Anto</h2>
    <p>Inspiré du Kalterona, Anto réunit tous les attraits des meilleurs logiciels et profils  de séducteur. C'est un fort caractère, joueur, il aime partager les plaisirs de la vie. </p>
    <ul>
      <li>Genre : Homme</li>
      <li>Modèle : Deus</li>
      <li>Yeux : Violet</li>
      <li>Cheveux : Châtain</li>
      <li>Caractère : Aventurier</li>
      <li>Autonomie : 48 heures</li>
      <li>Taille : 1,80 m</li>
      <li>Poids : 80 kg</li>
      <li>Technologie : NaoAndro</li>
      <li>Tarif : 4 300 €</li>
    </ul>
  </div>
</article>
<article class="liar">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Liar</h2>
    <p>Liar possède les qualités et les défauts de ses lointains ancêtres humains. Son romantisme est doté des meilleurs références humaines en la matière pour séduire son double humain.</p>
    <ul>
      <li>Genre : Homme</li>
      <li>Modèle : Beauty</li>
      <li>Yeux : Noir</li>
      <li>Cheveux : Noir</li>
      <li>Caractère : Romantique</li>
      <li>Autonomie : 48 heures</li>
      <li>Taille : 1,75 m</li>
      <li>Poids : 70 kg</li>
      <li>Technologie : NaoAndro</li>
      <li>Tarif : 3 700 €</li>
    </ul>
  </div>
</article>

<!--FILTER SVG FOR MOTION BLUR-->

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
    <defs>
      <filter id="blur">
          <feGaussianBlur id="blur-filter" in="SourceGraphic" stdDeviation="6,0" /><!--Here you can change the value-->
      </filter>
  </defs>
</svg>
