
<!-- CHARACTER SELECTION -->
<section class="perso">
  <ul>
    <li><p>Alix<span></span></p></li>
    <li><p>Calia<span></span></p></li>
    <li><p>Ryo<span></span></p></li>
    <li><p>Anto<span></span></p></li>
    <li><p>Liar<span></span></p></li>
  </ul>
</section>

<!-- PAGE CONTENT, Order is important, nth-of-type is used -->

<article class="alix">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Alix</h2>
    <p>Autonome 48h grâce à sa batterie Althium, il ne pèse que 75kg pour 1,85m. Avec son système d'exploitation NaoAndro et ses capteurs d'interactions miniaturisés, il sera libre de ses mouvements pour vous satisfaire.</p>
  </div>
</article>
<article class="calia">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Calia</h2>
    <p>Equipée de capteurs de déplacement et gyroscopique dernière génération, Calia a tout d'une sportive qui saura vous suivre partout. 60kg pour 1,75m, elle sera être autonome 48h.</p>
  </div>
</article>
<article class="ryo">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Ryo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dignissimos vel numquam quasi, vitae cupiditate culpa cumque id consequuntur eveniet, assumenda nobis officiis nisi enim soluta ullam, esse reiciendis veniam!</p>
  </div>
</article>
<article class="anto">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Anto</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dignissimos vel numquam quasi, vitae cupiditate culpa cumque id consequuntur eveniet, assumenda nobis officiis nisi enim soluta ullam, esse reiciendis veniam!</p>
  </div>
</article>
<article class="liar">
  <span class="close">x</span>
  <div class="text-wrap">
    <h2>Liar</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium dignissimos vel numquam quasi, vitae cupiditate culpa cumque id consequuntur eveniet, assumenda nobis officiis nisi enim soluta ullam, esse reiciendis veniam!</p>
  </div>
</article>

<!--FILTER SVG FOR MOTION BLUR-->

<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="filters">
    <defs>
      <filter id="blur">
          <feGaussianBlur id="blur-filter" in="SourceGraphic" stdDeviation="6,0" /><!--Here you can change the value-->
      </filter>
  </defs>
</svg>
